:root {
  --gridSize: 0;
}
.sketch-box {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: cornflowerblue;
  width: 100%;
  padding-top: 100%;
  z-index: 5;
}
.sketch-box:hover {
  cursor: crosshair;
}

#grid-container {
  width: 720px;
  display: grid;
  grid-template-columns: repeat(var(--gridSize), auto);
  background-color: antiquewhite;
}

.center {
  margin: auto;
  width: 50%;
}
.sketcher {
  width: 760px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: rgb(182, 12, 12);
  border-radius: 25px;
}
.button {
  background-color: rgb(228, 151, 51);
  margin: auto;
  width: 200px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 2px black, 2px 0 2px black;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(248, 228, 48, 0.774);
  box-shadow: 3px 3px rgba(251, 255, 43, 0.582),
    3px 0 3px rgba(251, 255, 43, 0.534);
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2 {
  font-family: cursive;
  font-size: 30px;
  color: rgb(228, 151, 51);
  margin: auto;
  width: 50%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.shadow {
  box-shadow: 0 8px 6px -6px black;
  box-shadow: -4 -4 -4 -4 rgb(34, 1, 1);
}
.knob {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 95%;
  background-color: rgb(228, 151, 51);
  border: black;
  margin: auto;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  box-shadow: 1px 2px black, 2px 0 2px black;
}
.knob:hover {
  cursor: pointer;
  background-color: rgba(248, 228, 48, 0.774);
  box-shadow: 3px 3px rgba(251, 255, 43, 0.582),
    3px 0 3px rgba(251, 255, 43, 0.534);
}
.btns {
  width: 760px;
}
